{% extends "base.html" %}
{% block title %}Sign up{% endblock %}

{% block content %}
<main class="form-auth form-signup w-100 m-auto">
  <form method="POST" action="">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
    <div class="form-floating">
      {{ form.username }}
      <label for="{{ form.username.id_for_label }}" class="form-label">{{ form.username.label}}</label>
      {%  for error in form.username.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
    </div>

    <div class="form-floating">
      {{ form.email }}
      <label for="{{ form.email.id_for_label }}" class="form-label" >{{ form.email.label}}</label>
       {%  for error in form.email.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
    </div>

    <div class="form-floating">
      {{ form.password }}
      <label>{{ form.password.label}}</label>
       {%  for error in form.password.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
    </div>

    <div class="form-floating">
      {{ form.confirm_password }}
      <label>{{ form.confirm_password.label}}</label>
       {%  for error in form.confirm_password.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
    </div>
    <div class="my-3">
      <p>Have already an account?</p>
      <a href="{% url 'a_login' %}" class="text-body fw-bold">Sing in here</a>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
  </form>
</main>
{% endblock %}
